body {
    margin: 0;
    overflow-x: hidden;
    background-color: black;
    position: relative;
    height: auto;
}

p, a, h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: Arial, sans-serif;
}

p {
    font-size: large;
}

a:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    color: white;
    cursor: default;

}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
    cursor: pointer !important;
}

#navigator {
    position: fixed;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0 22%;
    background-color: #e81608;
    z-index: 1;
    text-align: center;
}

.nav-anchors-buttons {
    margin: 5px 3%;
    float: left;
    position: relative;
    line-height: 0;
}

.nav-anchors-buttons h3:hover {
    color: black !important;
    cursor: pointer;
}

#logo-sida {
    height: 100%;
    width: 100%;
    padding: 50px 0;
    background-color: white;
}

#logo-sida img {
    width: 60%;
    height: 60%;
    margin: 5% 20%;
}

.parallax-window {
    width: 100%;
    height: 600px;
}

#parallax-start {
    height: 780px;
    padding-top: 100px;
}

.sida {
    height: auto;
    width: 100%;
    padding: 70px 10px;
}

.sida-header {
    margin: 0 auto 0;
    text-align: center;
    font-size: 500%;
}

.sida-text {
    width: 75%;
    height: auto;
    margin: auto;
    position: relative;
}

#sida-1-anchor {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 200px;
}

.person-holder {
    width: auto;
}

.person-info {
    height: auto;
    width: 80%;
    margin: 0 auto;
    border-bottom: solid grey 2px;
    padding-top: 30px;
    position: relative;
}

.person-info img {
    height: 50%;
    width: 50%;
    margin: 0 25%;
}

.person-info h1, h3 {
  text-align: center;
}

.person-info h3 {
    color: gold;
}
.person-info b {
  color: white !important;
}

#person-info-top {
  border-top: solid grey 2px;
}

#sida-2-anchor {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 200px;
}

#sida-2 h4 {
    color: gold;
}

#sida-2 a {
  color: white;
}

#sida-2 a:hover {
    color: red;
}

#sida-2 li {
    font-size: large;
}

#sida-2 li:hover {
    color: red;
}

#sida-3-anchor {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 200px;
}

#sida-4-anchor {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 200px;
}

.contact-information h3 {
    text-align: left;
}

.contact-information a {
    color: red;
}

.contact-information a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#parallax-bottom {
    height: 400px;
}

#footer {
    width: 100%;
    height: 10px;
    margin: 0 auto;
    padding: 10px 0;
    float: right;
    position: relative;
}

#footer-copyright {
    text-align: center !important;
    float: none !important;
}

#footer p {
    margin: 10px 30px 20px;
    float: left;
    font-size: x-small;
    color: grey !important;
}

#footer a {
  color: grey;
}

#footer a:hover {
    color: #4fff2f !important;
    text-decoration: underline;
}
